.container.applicant-steps
  .col.col-md-8.col-offset-2
    %hr
    %progress.progress.progress-striped.progress-animated{:max => "100", :value => "50"}
    %hr

    .row.tasks
      .col-md-6
        %p
          - @applicant.attributes.each do |atr|
            .atr
              %strong
                = "#{atr[0]}: "
              %span 
                = atr[1]
      .col-md-2
        %label
    
    .row.tasks
      .col-md-6
        %p
          %span> Set your goals + benchmarks
          Having SMART goals can help you be
          sure that you’ll have tangible results to share with the world (or your
          boss) at the end of your campaign.
    

