.jumbo-bg{:style => "background-image: url(#{image_path 'ry.jpg'});"}
  .jumbotron-text.text-center
    %h1 JOIN US
.relative
  .col.col-md-8.offset-md-2.how-we-work{style: 'margin-top: 35px; margin-bottom: 0px;'}
    .explain-section{style: 'font-size: 18px;'}
      Please complete all 
      %span
        fields
      below to begin the application process!
      You do not need travel experience to join - only the mindset
      to better
      %span
        yourself
      through mind-opening 
      %span
        experiences
      while 
      %span 
        working together 
      and exploring the
      %span
      planet.
      //Please complete all fields below to begin the application process! You don't need travel experience - only only the mindset to better yourself and the world, while working amongst others & traveling the globe.

     
    
    
  %hr
  
  = render partial: 'shared/apply'


