.jumbo-bg{:style => "background-image: url(#{image_path 'bg/ib-wira-dyatmika-kintamani-indonesia.jpg'});"}
  .jumbotron-text.text-center
    %h1="Apply to join Remote Year #{Time.now.year}"
    %p.lead Be part of something amazing
.container
  .row
    %h1 Rolling Admissions
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    %br
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    
    
  %hr
  
  = render partial: 'shared/apply'


