.col-md-6.offset-md-3
  .container
    %form
      .form-group.row
        %label.col-sm-2.col-form-label{:for => "inputEmail3"} Email
        .col-sm-10
          %input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}/
      .form-group.row
        %label.col-sm-2.col-form-label{:for => "inputPassword3"} Password
        .col-sm-10
          %input#inputPassword3.form-control{:placeholder => "Password", :type => "password"}/
      %fieldset.form-group.row
        %legend.col-form-legend.col-sm-2 Radios
        .col-sm-10
          .form-check
            %label.form-check-label
              %input#gridRadios1.form-check-input{:checked => "checked", :name => "gridRadios", :type => "radio", :value => "option1"}/
              Option one is this and that—be sure to include why it's great
          .form-check
            %label.form-check-label
              %input#gridRadios2.form-check-input{:name => "gridRadios", :type => "radio", :value => "option2"}/
              Option two can be something else and selecting it will deselect option one
          .form-check.disabled
            %label.form-check-label
              %input#gridRadios3.form-check-input{:disabled => "disabled", :name => "gridRadios", :type => "radio", :value => "option3"}/
              Option three is disabled
      .form-group.row
        %label.col-sm-2 Checkbox
        .col-sm-10
          .form-check
            %label.form-check-label
              %input.form-check-input{:type => "checkbox"}/
              Check me out
      .form-group.row
        .offset-sm-2.col-sm-10
          %button.btn.btn-primary{:type => "submit"} Sign in

  %label.custom-control.custom-radio
    %input#radio1.custom-control-input{:name => "radio", :type => "radio"}/
    %span.custom-control-indicator
    %span.custom-control-description Toggle this custom radio
  %label.custom-control.custom-radio
    %input#radio2.custom-control-input{:name => "radio", :type => "radio"}/
    %span.custom-control-indicator
    %span.custom-control-description Or toggle this other custom radio