.col-md-6.offset-md-3
  .container
    %form
      .input-group
        %span#basic-addon1.input-group-addon @
        %input.form-control{"aria-describedby" => "basic-addon1", :placeholder => "Username", :type => "text"}/
      %br/
      .input-group
        %input.form-control{"aria-describedby" => "basic-addon2", :placeholder => "Recipient's username", :type => "text"}/
        %span#basic-addon2.input-group-addon @example.com
      %br/
      %label{:for => "basic-url"} Your vanity URL
      .input-group
        %span#basic-addon3.input-group-addon https://example.com/users/
        %input#basic-url.form-control{"aria-describedby" => "basic-addon3", :type => "text"}/
      %br/
      .input-group
        %span.input-group-addon $
        %input.form-control{"aria-label" => "Amount (to the nearest dollar)", :type => "text"}/
        %span.input-group-addon .00
      %br/
      .input-group
        %span.input-group-addon $
        %span.input-group-addon 0.00
        %input.form-control{"aria-label" => "Amount (to the nearest dollar)", :type => "text"}/
        
      .form-group.row
        %label.col-sm-2.col-form-label{:for => "inputEmail3"} Email
        .col-sm-10
          %input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}/
      .form-group.row
        %label.col-sm-2.col-form-label{:for => "inputPassword3"} Password
        .col-sm-10
          %input#inputPassword3.form-control{:placeholder => "Password", :type => "password"}/
      %fieldset.form-group.row
        %legend.col-form-legend.col-sm-2 Radios
        .col-sm-10
          .form-check
            %label.form-check-label
              %input#gridRadios1.form-check-input{:checked => "checked", :name => "gridRadios", :type => "radio", :value => "option1"}/
              Option one is this and that—be sure to include why it's great
          .form-check
            %label.form-check-label
              %input#gridRadios2.form-check-input{:name => "gridRadios", :type => "radio", :value => "option2"}/
              Option two can be something else and selecting it will deselect option one
          .form-check.disabled
            %label.form-check-label
              %input#gridRadios3.form-check-input{:disabled => "disabled", :name => "gridRadios", :type => "radio", :value => "option3"}/
              Option three is disabled
      .form-group.row
        %label.col-sm-2 Checkbox
        .col-sm-10
          .form-check
            %label.form-check-label
              %input.form-check-input{:type => "checkbox"}/
              Check me out
      .form-group.row
        .offset-sm-2.col-sm-10
          %button.btn.btn-primary{:type => "submit"} Sign in

  %label.custom-control.custom-radio
    %input#radio1.custom-control-input{:name => "radio", :type => "radio"}/
    %span.custom-control-indicator
    %span.custom-control-description Toggle this custom radio
  %label.custom-control.custom-radio
    %input#radio2.custom-control-input{:name => "radio", :type => "radio"}/
    %span.custom-control-indicator
    %span.custom-control-description Or toggle this other custom radio