#remote-application-form {

	margin-bottom: 75px;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
	label {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 17px;
		font-weight: 500;
	}

	i {
		font-size: 15px;
	}

	.custom-select {
		width: 100% !important;
	}

	.muted {
		color: #55595c;
	}

	.custom-radio {
		width: 45%;
		float: left;
		position: relative;
		float: left;
		margin-left: 10px;
	}

	.submit-wrapper {
		width: 100%; 
		text-align: center;

		.btn-primary {
			width: 200px;
	    margin-top: 35px;
	    padding: 20px;
	    color: #fff;
	    background-color: #0275d8;
	    font-size: 14px;
	    font-weight: 500;
	    letter-spacing: 2px;
	    text-decoration: capitalize;
	    transition: all .2s ease-in-out;
	    opacity: 0.75;

	    &:hover {
	    	color: #fff !important;
	    	opacity: 1;
	    }
		}
	}
}

@media only screen and (max-width: 991px) {

	#remote-application-form {
		.custom-radio {
			width: 100%;
		}
	}
}


.applicant-steps {

	.col-md-4 {
		text-align: center;
	}

	.title {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		padding-top: 5px;
		text-decoration: italic;
		color: #000;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.fa {
		font-size: 30px;
	}

}