%hr

.footer-wrapper
  .footer-top
    %a{:href => "https://medium.com/go-remote", :target => "_blank"}
      %span Blog

    %a{:href => "http://www.remoteyear.com/about"}
      %span About Us

    %a{:href => "http://www.remoteyear.com/privacy-policy"}
      %span Privacy Policy

    %a{:href => "http://www.remoteyear.com/contact"}
      %span Contact Us

    %a{:href => "http://www.remoteyear.com/work-with-us"}
      %span Work With Us

    %a{:href => "http://remoteyearbusiness.com"}
      %span Business Partners

  %hr

  .footer-bottom
    %a.social-circle{href: 'https://www.instagram.com/remoteyear/', target: '_blank', 'data-source' => 'instagram'}
      .fa.fa-instagram
    %a.social-circle{href: 'https://www.youtube.com/watch?v=pbkH_y_EvI4', target: '_blank', 'data-source' => 'youtube'}
      .fa.fa-youtube
    %a.social-circle{href: 'https://twitter.com/remoteyear', target: '_blank', 'data-source' => 'twitter'}
      .fa.fa-twitter
    %a.social-circle{href: 'https://www.facebook.com/remoteyear/', target: '_blank', 'data-source' => 'facebook'}
      .fa.fa-facebook
    %a.social-circle{href: 'https://medium.com/go-remote', target: '_blank', 'data-source' => 'medium'}
      .fa.fa-medium


      
  %hr
  
  %p= "Remote Year, Inc. © #{Time.now.year}"
