.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-lg-up{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
  #navbarResponsive.collapse.navbar-toggleable-md
    .nav-left
    %a.navbar-brand{:href => "/"}= image_tag asset_url('remote-year.png')

    .nav-right
      %a{:href => "http://www.remoteyear.com/how-it-works/"}
        How it works

      %a{:href => "http://www.remoteyear.com/where-we-go/"}
        Itinerary

      %a{:href => "http://www.remoteyear.com/follow-along/"}
        Follow Us
      
      %a.btn.btn-primary{:href => "/apply"}
        Apply Now

  